@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lalezar&display=swap');



:root {}

html {
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
}

body {
    // font-family: 'Rowdies', cursive;
    font-family: 'Lalezar', cursive;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    background-image: url('../../../img/background/bg17.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

h1 {
    color: #fff;
}